<p id="notice">
	<%= notice %>
</p>

<div id = "index_div">
	<table class = "table-striped table-condensed table-bordered">
		<thead>
			<tr>
				<th colspan="2"></th>
				<th>Name</th>
				<th>Json Attribute</th>
				<th>Operator</th>
				<th>Value</th>
				<th>Color</th>
				<th colspan="1"></th>
			</tr>
		</thead>

		<tbody>
			<% @rules_engines.each do |rules_engine| %>
			<tr>
				<td><%= link_to 'Show', rules_engine %></td>
				<td><%= link_to 'Edit', edit_rules_engine_path(rules_engine) %></td>
				<td><%= rules_engine.name %></td>
				<td><%= rules_engine.json_attribute %></td>
				<td><%= rules_engine.operator %></td>
				<td><%= rules_engine.value %></td>
				<td><%= rules_engine.color %></td>
				<td><%= link_to 'Destroy', rules_engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br>
