<%= form_for :rules_engines_search_path, method: :get do |f| %>
<div class = "container panel panel-warning">
	<h1 class = "panel-heading">Search for Rule</h1>

	<div class = "row container ">
		<div class="form-group col-md-6">
			<%= text_field_tag :q, params[:q], :class => "form-control col-md-5" %>
		</div>
		<%= button_tag(type: 'submit', class: "btn btn-primary fa-md") do %>
		<i class="icon-ok icon-white fa fa-search"></i>
		<% end %>
	</div>
	<% end %>
	<div>
		<table class = "table table-striped table-condensed table-bordered">
			<thead>
				<tr>
					<th colspan="1"></th>
					<th>Name</th>
					<th>Json Attribute</th>
					<th>Operator</th>
					<th>Value</th>
					<th>Color</th>
				</tr>
			</thead>

			<tbody>
				<% @rules_engines.each do |rules_engine| %>

				<tr>
					<td><%= link_to "show", controller: "rules_engines", action: "show", id: rules_engine.id%></td>
					<td><%= rules_engine.name %></td>
					<td><%= rules_engine.json_attribute %></td>
					<td><%= rules_engine.operator %></td>
					<td><%= rules_engine.value %></td>
					<td><%= rules_engine.color %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br>
	</div>
</div>

