<h1>JSON Parse and Validate</h1>
<table class="result_table">
	<th><label>Application</label></th>
	<td><%=select_tag :application , options_for_select(Home_Constants::APPL), prompt:"Select the application" %></td>
	<th><label>Environment</label></th>
	<td><%=select_tag "list[]", :multiple=>true%></td>
	<th><label>URI</label></th>
	<td><%=select_tag "list[]", :multiple=>true%></td>
	<th><label>Issue Type</label></th>
	<td><%=select_tag "list[]", :multiple=>true%></td>
</table>
<textarea id= "json" rows="20" cols="150"></textarea> <p></p>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<%= button_to 'Process', { :controller => "home", :action => "json_to_html" }, class: 'wmOrangeButton', remote: true %>
<h1>Validation rules failed</h1>
<div id= "error_table" class="result_table"></div>

<h1>Processed JSON</h1>
<div id= "time_div" class="result_table"></div>
